In [1]:
import pandas as panda


from google.colab import drive
drive.mount('/content/drive')


df =   panda.read_csv('/content/drive/MyDrive/320manhattenyellowtaxis.csv')


df_2018 =   panda.read_csv('/content/drive/MyDrive/2018.31manhattenyellowtaxis.csv')

Mounted at /content/drive

In [2]:
df.head(10)

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,...,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
0,2018-12-31 13:00:00,140,2.0,3.15,15.0,19.560000,0.5,1.0,1.0,3.260000,...,21.150000,8.936170,13,0.000114,0.047584,1,0,31,12,1.000000
1,2018-12-31 13:00:00,243,2.0,0.83,5.5,6.800000,0.5,1.0,2.0,0.000000,...,5.550000,8.972973,13,0.000438,0.094331,1,0,31,12,5.000000
2,2018-12-31 14:00:00,41,2.0,1.00,5.0,6.300000,0.5,1.0,2.0,0.000000,...,3.816667,15.720524,14,0.000143,0.052793,1,0,31,12,1.000000
3,2018-12-31 14:00:00,48,2.0,2.32,11.0,12.786667,0.5,1.0,1.0,0.486667,...,13.788889,9.586343,14,0.000094,0.043747,3,0,31,12,4.333333
4,2018-12-31 14:00:00,68,2.0,1.46,7.5,11.440000,0.5,1.0,1.0,2.640000,...,7.850000,11.159236,14,0.000111,0.049337,1,0,31,12,1.000000
5,2018-12-31 14:00:00,75,2.0,0.46,3.5,4.800000,0.5,1.0,2.0,0.000000,...,2.083333,13.248000,14,0.000241,0.087664,1,0,31,12,6.000000
6,2018-12-31 14:00:00,107,2.0,1.94,8.0,11.620000,0.5,1.0,1.0,2.320000,...,8.083333,14.400000,14,0.000075,0.038041,1,0,31,12,1.000000
7,2018-12-31 14:00:00,114,2.0,3.01,12.0,15.960000,0.5,1.0,1.0,2.660000,...,13.600000,13.279412,14,0.000047,0.031727,1,0,31,12,5.000000
8,2018-12-31 14:00:00,140,2.0,3.87,13.5,15.880000,0.5,1.0,1.0,1.080000,...,15.116667,15.360529,14,0.000114,0.047584,1,0,31,12,2.000000
9,2018-12-31 14:00:00,141,2.0,3.59,14.0,18.360000,0.5,1.0,1.0,3.060000,...,15.916667,17.023764,14,0.000077,0.041514,2,0,31,12,1.000000

In [3]:
df.tail(10)

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,...,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
554649,2020-01-01 00:00:00,211,2.0,3.250000,14.500000,17.800000,0.000000,1.0,2.0,0.000000,...,574.183333,0.339613,0,0.000040,0.025235,1,2,1,1,2.000000
554650,2020-01-01 00:00:00,224,2.0,4.870000,22.750000,30.050000,0.000000,2.0,1.0,0.000000,...,732.166667,0.399089,0,0.000098,0.044020,1,2,1,1,1.000000
554651,2020-01-01 00:00:00,233,2.0,3.090000,14.875000,21.205000,0.000000,1.0,1.0,1.030000,...,654.508333,0.273674,0,0.000116,0.048036,2,2,1,1,1.000000
554652,2020-01-01 00:00:00,234,2.0,2.400000,11.000000,17.760000,0.500000,1.0,1.0,2.960000,...,115.083333,1.251267,0,0.000073,0.036072,1,2,1,1,1.000000
554653,2020-01-01 00:00:00,236,2.0,2.693333,11.333333,17.233333,0.666667,1.0,1.0,1.933333,...,532.544444,0.289938,0,0.000103,0.044252,3,2,1,1,1.666667
554654,2020-01-01 00:00:00,237,2.0,1.020000,10.000000,15.870000,0.500000,1.0,1.0,2.070000,...,202.150000,0.302745,0,0.000096,0.042213,1,2,1,1,2.000000
554655,2020-01-01 00:00:00,239,2.0,2.010000,10.000000,14.835000,0.500000,1.0,1.0,1.035000,...,514.158333,0.259287,0,0.000205,0.063626,2,2,1,1,1.000000
554656,2020-01-01 00:00:00,243,2.0,4.870000,22.750000,30.050000,0.000000,1.0,1.0,6.900000,...,617.566667,0.473147,0,0.000438,0.094331,1,2,1,1,2.000000
554657,2020-01-01 00:00:00,246,2.0,4.870000,18.000000,25.640000,1.000000,1.0,1.0,3.340000,...,411.516667,0.710056,0,0.000281,0.069467,1,2,1,1,5.000000
554658,2020-01-01 00:00:00,263,2.0,4.870000,22.000000,30.050000,1.000000,1.0,1.0,6.480000,...,350.833333,0.832874,0,0.000066,0.037017,1,2,1,1,5.000000

In [4]:
df_2018.head(10)

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
0,2018-01-01 00:00:00,4,2,1.742100,9.237500,11.722200,0.495000,1,1,1.209800,10.812167,9.950562,0,0.000112,0.043567,100,0,1,1,1.680000
1,2018-01-01 00:00:00,12,1,3.366667,12.500000,15.600000,0.500000,1,1,1.800000,12.772222,15.888399,0,0.000042,0.036661,3,0,1,1,1.000000
2,2018-01-01 00:00:00,13,2,3.052656,13.390625,16.369844,0.500000,1,1,1.710781,14.340625,12.741622,0,0.000149,0.050281,64,0,1,1,1.812500
3,2018-01-01 00:00:00,24,2,2.115143,9.485714,12.281143,0.500000,1,1,1.596143,9.520952,13.578451,0,0.000061,0.047000,70,0,1,1,1.742857
4,2018-01-01 00:00:00,41,2,2.548800,11.327500,14.017950,0.485000,1,1,1.435200,12.044333,12.852781,0,0.000143,0.052793,100,0,1,1,1.700000
5,2018-01-01 00:00:00,42,2,2.844944,12.721910,15.664157,0.494382,1,1,1.590674,13.521161,12.522514,0,0.000264,0.092709,89,0,1,1,1.943820
6,2018-01-01 00:00:00,43,2,1.576515,8.106061,10.578636,0.492424,1,1,1.155909,8.537121,11.488457,0,0.000380,0.099739,66,0,1,1,1.772727
7,2018-01-01 00:00:00,45,2,2.240476,10.845238,13.794524,0.500000,1,1,1.488571,11.863492,10.762268,0,0.000091,0.045907,21,0,1,1,1.285714
8,2018-01-01 00:00:00,48,2,1.652315,10.986334,13.455740,0.500000,1,2,1.136238,15.099089,6.611660,0,0.000094,0.043747,311,0,1,1,1.691318
9,2018-01-01 00:00:00,50,2,1.706277,9.775547,12.345255,0.496350,1,1,1.293796,12.381995,8.577962,0,0.000173,0.055748,137,0,1,1,1.729927

In [5]:
df_2018.tail(10)

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
554225,2018-12-31 00:00:00,229,2,0.760,5.500,6.3000,0.00,1,2,0.000,577.200000,0.079002,0,0.000095,0.042525,1,0,31,12,2.0
554226,2018-12-31 00:00:00,230,2,0.970,9.500,12.8800,0.00,1,1,2.580,379.466667,0.153373,0,0.000056,0.031028,1,0,31,12,5.0
554227,2018-12-31 00:00:00,231,2,1.080,6.500,8.4000,0.00,1,1,1.100,607.333333,0.106696,0,0.000167,0.063420,1,0,31,12,2.0
554228,2018-12-31 00:00:00,237,2,0.660,22.750,27.4250,0.00,5,2,0.000,1125.100000,0.035197,0,0.000096,0.042213,1,0,31,12,4.0
554229,2018-12-31 00:00:00,238,2,1.960,12.000,12.8000,0.00,1,2,0.000,419.433333,0.280378,0,0.000185,0.060109,1,0,31,12,3.0
554230,2018-12-31 00:00:00,239,2,1.620,7.000,9.9600,0.50,1,1,1.660,201.116667,0.483302,0,0.000205,0.063626,1,0,31,12,1.0
554231,2018-12-31 00:00:00,244,2,4.900,22.750,27.4250,0.50,1,1,1.800,33.633333,8.741328,0,0.000360,0.080569,1,0,31,12,1.0
554232,2018-12-31 00:00:00,246,2,2.975,14.375,15.5500,0.00,1,2,0.000,615.808333,0.279426,0,0.000281,0.069467,2,0,31,12,1.5
554233,2018-12-31 00:00:00,262,2,3.655,17.125,21.3925,0.25,1,1,4.105,415.741667,0.790476,0,0.000122,0.049064,2,0,31,12,2.0
554234,2018-12-31 00:00:00,263,2,2.735,14.125,17.1775,0.00,1,1,2.755,582.750000,0.236205,0,0.000066,0.037017,2,0,31,12,2.0

In [6]:
df.dtypes

dropoff_datetime_hour                       object
DOLocationID                                 int64
VendorID                                   float64
trip_distance                              float64
fare_amount                                float64
total_amount                               float64
extra                                      float64
RatecodeID                                 float64
payment_type                               float64
tip_amount                                 float64
congestion_surcharge                         int64
ride_duration                              float64
average_speed                              float64
dropoff_hour                                 int64
DOLocation_area                            float64
DOLocation_perimeter                       float64
number_taxis_DOLocationID_for_this_hour      int64
dropoff_day_of_week                          int64
dropoff_day_of_month                         int64
dropoff_month                                int64
passenger_count                            float64
dtype: object

In [7]:
df_2018.dtypes

dropoff_datetime_hour                       object
DOLocationID                                 int64
VendorID                                     int64
trip_distance                              float64
fare_amount                                float64
total_amount                               float64
extra                                      float64
RatecodeID                                   int64
payment_type                                 int64
tip_amount                                 float64
ride_duration                              float64
average_speed                              float64
dropoff_hour                                 int64
DOLocation_area                            float64
DOLocation_perimeter                       float64
number_taxis_DOLocationID_for_this_hour      int64
dropoff_day_of_week                          int64
dropoff_day_of_month                         int64
dropoff_month                                int64
passenger_count                            float64
dtype: object

In [8]:
df['dropoff_datetime_hour'] =    panda.to_datetime(df['dropoff_datetime_hour'])

df_2018['dropoff_datetime_hour'] =   panda.to_datetime(df_2018['dropoff_datetime_hour'])

In [9]:
i = df['dropoff_datetime_hour'].is_monotonic_increasing

i

True

In [10]:
j = df_2018['dropoff_datetime_hour'].is_monotonic_increasing

j

True

In [11]:
df = df.drop(['congestion_surcharge'], axis=1)

In [12]:
df_2019_2018 = panda.concat([df_2018, df], ignore_index=True)

In [13]:
df_2019_2018 =   df_2019_2018.sort_values(by='dropoff_datetime_hour')

In [14]:
df_2019_2018['dropoff_datetime_hour'] = panda.to_datetime(df_2019_2018['dropoff_datetime_hour'])

In [15]:
df_2019_2018['year'] =  df_2019_2018['dropoff_datetime_hour'].dt.year

In [16]:
df_2019_2018['busyness'] = df_2019_2018['number_taxis_DOLocationID_for_this_hour'] / df_2019_2018['DOLocation_area']

In [17]:
df_2019_2018 =   df_2019_2018.drop('number_taxis_DOLocationID_for_this_hour',  axis=1)

In [18]:
df_2019_2018 = df_2019_2018.drop(['dropoff_datetime_hour'],  axis=1)

In [19]:
import numpy as nump


df_2019_2018['busyness'] = df_2019_2018['busyness'].astype(float)


bins = nump.percentile(df_2019_2018['busyness'], [0, 20, 40, 60, 80, 100])


labels = [1, 2, 3, 4, 5]


df_2019_2018['busyness'] = panda.cut(df_2019_2018['busyness'], bins=bins, labels=labels, include_lowest=True)

In [20]:

yx =   ['DOLocationID',   'VendorID',    'RatecodeID',   'payment_type',
                      'dropoff_hour',   'dropoff_day_of_week',    'dropoff_day_of_month',
                                'dropoff_month']


df_2019_2018 = panda.get_dummies(df_2019_2018, columns=yx)


print(df.head())

  dropoff_datetime_hour  DOLocationID  VendorID  trip_distance  fare_amount  \
0   2018-12-31 13:00:00           140       2.0           3.15         15.0
1   2018-12-31 13:00:00           243       2.0           0.83          5.5
2   2018-12-31 14:00:00            41       2.0           1.00          5.0
3   2018-12-31 14:00:00            48       2.0           2.32         11.0
4   2018-12-31 14:00:00            68       2.0           1.46          7.5

   total_amount  extra  RatecodeID  payment_type  tip_amount  ride_duration  \
0     19.560000    0.5         1.0           1.0    3.260000      21.150000
1      6.800000    0.5         1.0           2.0    0.000000       5.550000
2      6.300000    0.5         1.0           2.0    0.000000       3.816667
3     12.786667    0.5         1.0           1.0    0.486667      13.788889
4     11.440000    0.5         1.0           1.0    2.640000       7.850000

   average_speed  dropoff_hour  DOLocation_area  DOLocation_perimeter  \
0       8.936170            13         0.000114              0.047584
1       8.972973            13         0.000438              0.094331
2      15.720524            14         0.000143              0.052793
3       9.586343            14         0.000094              0.043747
4      11.159236            14         0.000111              0.049337

   number_taxis_DOLocationID_for_this_hour  dropoff_day_of_week  \
0                                        1                    0
1                                        1                    0
2                                        1                    0
3                                        3                    0
4                                        1                    0

   dropoff_day_of_month  dropoff_month  passenger_count
0                    31             12         1.000000
1                    31             12         5.000000
2                    31             12         1.000000
3                    31             12         4.333333
4                    31             12         1.000000

In [21]:
df_2019_2018.to_csv('/content/drive/MyDrive/feature_complete3.25manhattenyellowtaxis.csv', index=False)