In [1]:
import pandas as panda


from google.colab import drive
drive.mount('/content/drive')



df =   panda.read_csv('/content/drive/MyDrive/2018.22manhattenyellowtaxis.csv')

Mounted at /content/drive

In [2]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [3]:
for i in df:
    print(f"\ndifferent values   {i}:")
    print(df[i].unique())

different values   VendorID:
[1 2 4]

different values   tpep_pickup_datetime:
['2018-04-27 20:15:08' '2018-04-27 20:22:24' '2018-04-27 20:38:44' ...
 '2018-04-27 20:46:23' '2018-04-27 20:49:55' '2018-04-27 20:33:32']

different values   tpep_dropoff_datetime:
['2018-04-27 20:15:33' '2018-04-27 20:34:10' '2018-04-27 20:52:05' ...
 '2018-04-27 20:33:06' '2018-04-27 20:59:24' '2018-04-27 20:37:16']

different values   passenger_count:
[1 2 3 5 6 4]

different values   trip_distance:
[0.   1.9  1.5  0.9  0.6  0.8  4.4  0.5  2.56 3.37 1.03 1.38 4.08 2.4
 4.9  4.1  1.1  0.55 1.83 1.45 0.75 0.63 0.65 2.52 1.   1.7  0.18 1.6
 0.59 1.85 1.34 0.91 1.13 1.62 2.11 1.4  2.1  3.   2.22 3.4  4.41 2.67
 1.55 1.08 0.87 1.01 1.3  1.02 1.67 4.68 0.05 4.03 3.57 0.67 0.83 2.24
 1.98 0.52 0.76 1.95 0.99 2.8  0.7  0.54 1.41 1.84 1.72 2.66 1.32 1.8
 1.75 4.6  3.2  1.37 2.14 1.31 1.56 2.21 1.04 2.69 2.3  1.2  2.6  1.51
 0.82 1.86 2.08 3.6  1.29 1.63 0.72 0.42 1.52 2.72 2.9  0.3  1.33 3.08
 1.07 2.03 2.62 1.48 2.47 1.16 4.07 0.84 0.94 1.21 2.17 1.94 1.14 0.51
 0.86 2.   0.95 3.27 0.64 0.92 1.35 1.27 1.11 1.15 0.61 0.89 2.91 2.01
 1.28 1.09 1.25 2.59 1.54 4.   3.7  2.07 1.19 0.27 2.31 1.49 2.18 1.88
 1.81 1.36 1.42 2.34 3.5  0.69 3.58 0.46 0.96 1.97 2.2  2.37 4.49 4.78
 2.87 3.1  3.8  3.9  3.43 0.71 4.01 1.69 2.42 0.81 1.05 4.7  3.02 0.43
 0.4  4.2  2.02 3.11 0.49 3.56 2.06 1.73 1.46 1.57 1.76 2.5  3.3  1.61
 0.78 0.66 2.28 3.01 4.85 1.78 1.23 1.64 4.8  4.3  1.68 3.54 1.06 2.77
 1.79 2.32 0.16 0.57 1.44 3.16 2.81 4.18 3.49 3.41 3.97 1.82 2.74 4.09
 0.37 2.04 2.57 0.97 3.77 3.05 4.11 3.21 2.45 0.26 2.75 0.58 1.22 2.13
 0.47 1.66 1.39 3.78 1.24 0.2  4.04 3.33 3.48 3.67 2.46 3.31 3.81 2.71
 2.36 0.38 0.93 0.48 0.31 3.09 3.29 2.35 0.74 3.93 0.68 1.43 3.14 0.77
 2.86 2.7  2.48 0.62 0.73 2.26 2.15 2.41 1.17 0.41 2.85 2.83 1.53 0.29
 3.73 2.54 1.87 1.99 3.39 1.93 4.28 0.98 1.89 2.23 3.61 1.77 3.84 3.42
 3.24 0.36 1.91 0.1  2.63 0.85 2.25 3.04 1.18 2.96 2.12 1.74 3.74 0.08
 1.96 3.87 4.72 1.59 3.26 2.92 1.47 4.87 2.73 2.43 4.64 0.33 4.21 4.71
 4.26 2.05 2.61 0.44 1.12 2.65 2.68 2.29 4.02 4.22 2.88 2.76 3.32 0.88
 0.39 3.62 4.36 2.95 0.35 1.58 2.09 0.79 4.59 2.19 2.39 3.59 4.35 2.49
 2.78 0.28 4.58 1.92 3.94 0.56 4.66 0.45 4.79 3.06 2.51 0.34 3.13 3.19
 4.42 2.55 2.99 2.82 0.23 2.64 3.85 3.47 2.53 0.25 2.38 4.5  1.26 2.98
 4.61 2.44 4.06 3.51 2.84 3.17 1.71 4.05 2.94 0.03 3.53 4.16 3.66 4.77
 3.23 3.12 3.65 1.65 3.35 0.32 2.33 2.93 4.27 3.96 4.39 3.95 2.16 4.14
 4.34 3.34 4.46 3.45 4.43 4.32 3.64 4.23 3.86 4.67 4.73 3.44 3.72 4.51
 3.75 4.44 3.38 3.92 0.53 3.63 3.36 4.84 3.15 4.76 4.82 3.28 2.58 2.89
 4.19 4.13 3.69 2.27 4.54 3.71 3.52 4.89 4.48 4.17 3.82 4.81 3.18 3.79
 4.86 2.97 0.19 3.55 4.83 3.07 3.91 4.52 4.45 3.03 4.37 2.79 3.98 3.25
 3.89 0.17 4.55 3.46 4.29 4.53 3.88 4.25 3.22 4.69 4.31 0.24 0.13 3.83
 3.76 0.14 4.24 0.06 0.09 0.22 4.33 4.38 3.99 4.65 4.88 4.12 3.68 0.21
 4.15 4.57 0.01 4.75 0.07 4.74 4.47 4.62 4.56 0.02 0.04 0.12 4.63 0.11
 0.15]

different values   RatecodeID:
[5 1 2 3 6 4]

different values   store_and_fwd_flag:
['N' 'Y']

different values   PULocationID:
[143  48  90 170 237 230 236 238 211 229 162 249 261  79 161 164 142 141
 186 107 226 132 158 113 137  50  68 231 138  45 234 114 263  24 239  41
  75 151 246 233 224  43 163 262  87  88 144  13 100 140 125 148 219 232
  83 145 166  42 244  56 264 195 209   4  74  10  65  93  33  12 146 243
 127 197  66 116 152  97 168  25 193 129 181 189  40 130 106  80   7 255
  28  86 256  82 247  17 235 223 112 179  89  49 202 225 139 216  95  36
  52  37  70 260 222 248 220  61 215  63 217  69 173 119 159 153 174  38
 228 196  20  47 213  71   8 167 136 203 157 194 182 218 191 188 169 128
  94 250  39 200  34 254 175 198  26 120 212  14 180 257  21 227  54 147
 133 265 121 135 210 155 241  92  81 190 252 185  31  72  62  91  78  29
  18  85 165  35 126  67 240 123  76  22  32 171 134  16 183  51 124 117
  64  15 149 258 207  46 259 150  11   3 208 178  55 205 108 131  73 253
  53   1 102  77 242 101  98 177 192  19 160  27  57  60 122 111   9  58
 199 154 221 105  96   6 214  44 156 115  84   2 184 201   5  59 172  23
 206 251 245 118 109 176 187  99 204 110]

different values   DOLocationID:
[143  68 170  79 237 162 231 236 164 229 249 262  48 151  13 230  75 186
 158 163 239 234 114  50 211 161 246 148 224 233 144 142 261 100  87 137
 140  42 238 209  24  43  41 263 232 113   4 107 141 244 116  74  88  90
 125 166  45 243 202  12 127 152 128 120 194 153]

different values   payment_type:
[1 2 4 3 5]

different values   fare_amount:
[22.75 10.    6.   ... 11.06  6.59  3.08]

different values   extra:
[0.000e+00 5.000e-01 1.000e+00 1.100e-01 3.000e-01 4.500e+00 2.200e-01
 8.000e-01 1.800e+00 1.300e+00 4.500e-01 1.500e+00 9.500e-01 4.540e+00
 2.000e-02 3.300e+00 2.000e-01 4.000e-01 1.510e+00 7.000e-01 2.740e+00
 2.500e+00 5.300e+00 4.900e-01 3.500e-01 4.800e+00 1.010e+00 6.000e+01
 1.900e+01 6.520e+00 3.050e+01 1.555e+01 1.450e+00 3.600e+00 1.516e+01
 1.000e-02 5.500e+00 6.161e+01 8.250e+01 1.100e+00 5.600e-01 8.000e+01
 9.000e-02 2.000e+00 8.300e+01 3.100e+00 6.600e+00 3.000e-02 5.760e+00
 6.500e+00 5.500e-01 6.000e-01 5.620e+00 9.300e+00 5.600e+00 3.000e+00
 9.664e+01 6.666e+01 4.000e+00 1.450e+01 3.400e+00 1.600e+00 3.200e-01]

different values   mta_tax:
[0.  0.5]

different values   tip_amount:
[5.65 0.   2.8  2.3  1.25 1.35 2.26 3.86 1.46 2.9  3.08 3.95 1.   1.16
 2.16 1.7  0.94 2.   2.96 1.65 2.46 2.36 1.76 1.56 1.85 2.95 3.05 1.5
 3.   4.96 2.32 5.   2.05 1.36 5.63 3.5  0.76 1.82 4.   1.1  0.75 1.13
 2.35 1.15 1.2  4.35 4.3  1.96 2.58 2.65 3.7  1.55 3.45 3.09 2.86 1.66
 0.12 1.32 5.16 1.45 1.95 2.85 3.2  2.56 1.26 1.86 3.55 2.2  2.82 3.66
 2.64 4.26 3.76 1.17 1.02 3.16 3.54 0.32 2.08 3.75 3.46 2.66 2.06 2.55
 4.75 3.82 2.75 2.45 4.15 4.65 3.35 2.94 3.8  2.25 4.85 2.7  2.97 1.75
 3.96 1.54 0.49 2.68 0.78 1.47 3.15 0.7  2.74 4.5  3.65 3.06 3.25 4.06
 0.73 4.2  2.5  1.4  1.33 4.95 2.15 5.05 1.06 0.44 1.98 3.56 2.76 3.58
 2.13 4.16 2.6  0.45 3.26 1.08 1.44 0.58 1.77 1.62 1.8  4.7  0.34 1.58
 2.67 5.55 1.38 4.45 0.5  0.95 2.79 3.69 0.86 4.05 4.36 5.32 1.59 1.89
 3.38 1.05 0.05 4.76 0.88 4.25 2.34 0.72 5.06 2.07 0.83 4.29 2.14 1.73
 4.46 1.63 0.98 3.36 4.55 0.9  0.25 1.84 3.3  0.96 5.15 3.99 3.64 0.01
 1.31 2.52 1.24 1.43 1.68 0.1  5.5  0.87 0.63 5.58 1.3  5.2  2.37 1.22
 2.49 3.39 4.08 2.19 2.12 1.74 4.4  5.56 1.48 1.03 2.1  0.55 5.6  3.32
 3.24 1.92 4.8  4.82 0.18 5.45 1.53 0.54 3.44 5.35 4.66 0.53 1.01 5.26
 0.79 1.28 3.85 1.18 5.49 0.8  0.2  0.52 0.68 3.6  2.22 4.56 0.11 3.27
 2.04 0.93 4.1  3.84 1.11 1.29 1.78 2.44 3.42 0.29 4.86 3.47 4.14 1.6
 1.23 5.25 5.08 3.72 5.3  1.04 1.83 0.43 2.21 4.74 4.32 0.02 1.49 1.07
 0.82 1.9  5.64 5.19 4.24 4.44 1.88 0.59 0.99 3.04 0.85 4.59 5.04 5.36
 3.57 0.36 0.39 5.46 0.48 4.23 5.31 1.67 3.34 1.42 2.53 1.09 3.33 5.61
 1.81 0.56 4.58 0.62 2.39 0.64 2.77 0.06 0.57 1.93 0.15 0.74 1.52 2.78
 0.08 2.83 5.28 1.72 0.24 3.12 4.89 0.47 3.23 1.41 0.81 1.69 2.43 0.65
 0.46 1.14 5.1  0.89 0.09 2.88 2.03 0.6  2.89 5.34 2.4  3.92 1.79 2.92
 2.48 0.42 4.33 2.73 4.43 1.12 0.28 4.31 3.02 1.94 3.9  0.17 0.37 0.07
 4.02 2.33 2.93 0.03 3.88 0.26 0.23 4.17 3.62 3.87 5.03 5.51 2.63 0.69
 3.41 2.38 5.18 4.69 1.57 2.18 1.99 0.14 1.34 0.91 5.33 0.97 5.29 0.22
 3.52 0.04 2.01 2.23 3.03 4.62 5.41 0.66 4.01 0.16 1.51 2.28 4.88 4.73
 4.81 0.31 4.41 1.21 2.42 0.84 1.37 4.78 2.71 0.3  0.33 2.61 2.02 4.99
 2.09 5.4  0.92 0.67 5.11 2.72 3.21 3.43 4.28 0.4  3.11 5.14 0.77 3.94
 5.48 3.1  3.31 3.61 4.61 4.94 3.83 5.21 1.27 2.29 4.21 0.27 3.91 0.38
 3.81 3.01 4.91 4.03 0.51 0.41 4.07 3.4  3.73 0.71 3.53 3.89 4.71 4.6
 3.13 2.91 4.9  2.11 1.19 2.57 4.39 4.77 3.28 5.07 3.29 5.12 3.74 2.84
 3.71 4.47 1.39 5.37 1.71 0.13 2.51 3.37 0.61 4.92 3.51 3.48 5.44 2.98
 4.93 3.68 4.19 5.22 0.19 3.07 4.83 4.54 3.49 5.01 1.61 4.64 5.27 3.63
 3.14 4.84 3.78 2.69 3.22 3.18 3.93 2.81 2.24 4.11 4.52 1.64 3.17 2.62
 1.87 3.77 4.63 2.59 2.27 0.35 5.17 3.98 4.51 5.52 2.31 4.37 5.23 5.57
 4.48 3.97 5.59 1.97 4.72 4.53 2.41 5.09 4.13 3.67 3.79 4.57 2.99 4.27
 3.59 5.54 5.02 3.19 0.21 4.22 1.91 4.09 4.04 4.67 5.53 4.18 4.42 5.47
 4.38 4.34 4.12 5.39 5.24 4.98 4.68 2.17 2.47 5.13 4.97 5.42 4.87 2.87
 2.54 5.62 4.49 4.79 5.43 5.38]

different values   tolls_amount:
[0.]

different values   improvement_surcharge:
[0.3 0. ]

different values   total_amount:
[27.425 11.3   14.1   ...  2.41   2.88   3.58 ]

In [4]:
print(len(df))

90648611

In [5]:
df['tpep_pickup_datetime']  =   panda.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime']  =   panda.to_datetime(df['tpep_dropoff_datetime'])

In [6]:
df = df.sort_values(by='tpep_dropoff_datetime')

In [7]:
print(df.dtypes)

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [8]:
cols1 = ['store_and_fwd_flag',  'mta_tax',  'improvement_surcharge',  'passenger_count',  'RatecodeID',    'payment_type',   'VendorID',
  'extra']

In [9]:
counts1 =    {col: df[col].value_counts().to_dict() for col in cols1}

In [10]:
counts1

{'store_and_fwd_flag': {'N': 90262091, 'Y': 386520},
 'mta_tax': {0.5: 90547279, 0.0: 101332},
 'improvement_surcharge': {0.3: 90640014, 0.0: 8597},
 'passenger_count': {1: 65235485,
  2: 13261264,
  5: 4077137,
  3: 3800949,
  6: 2477148,
  4: 1796628},
 'RatecodeID': {1: 88907902, 2: 1572184, 5: 153985, 3: 11525, 4: 2583, 6: 432},
 'payment_type': {1: 63278679, 2: 26850420, 3: 400264, 4: 119247, 5: 1},
 'VendorID': {2: 52494125, 1: 37714270, 4: 440216},
 'extra': {0.0: 49401585,
  0.5: 25819216,
  1.0: 15131459,
  4.5: 292018,
  0.8: 1280,
  0.3: 933,
  1.3: 771,
  0.11: 379,
  1.5: 314,
  1.8: 241,
  0.22: 201,
  0.7: 23,
  4.8: 21,
  0.45: 18,
  1.1: 17,
  0.2: 17,
  5.3: 12,
  0.55: 10,
  0.95: 8,
  4.54: 7,
  0.02: 6,
  66.66: 6,
  0.4: 5,
  0.6: 5,
  2.5: 4,
  0.35: 4,
  1.45: 4,
  0.49: 3,
  2.0: 3,
  1.6: 3,
  5.5: 2,
  1.01: 2,
  6.52: 2,
  0.03: 2,
  60.0: 2,
  83.0: 1,
  82.5: 1,
  0.56: 1,
  80.0: 1,
  0.09: 1,
  3.6: 1,
  3.1: 1,
  61.61: 1,
  5.76: 1,
  6.5: 1,
  5.62: 1,
  9.3: 1,
  6.6: 1,
  2.74: 1,
  0.01: 1,
  15.16: 1,
  1.51: 1,
  3.3: 1,
  0.32: 1,
  19.0: 1,
  3.4: 1,
  14.5: 1,
  4.0: 1,
  96.64: 1,
  30.5: 1,
  3.0: 1,
  15.55: 1,
  5.6: 1}}

In [11]:
df =   df.drop(columns=['store_and_fwd_flag',   'mta_tax',   'improvement_surcharge'])

In [12]:
cols2 = ['trip_distance',   'fare_amount',   'tip_amount',   'total_amount',   'tolls_amount',  'total_amount']

# get the levels of varience
var1 =  df[cols2].var()

# get the correlations of the features
corr1 =   df[cols2].corr()

var1,    corr1

(trip_distance     1.756978
 fare_amount      28.276034
 tip_amount        2.241945
 total_amount     37.939488
 tolls_amount      0.000000
 total_amount     37.939488
 dtype: float64,
                trip_distance  fare_amount  tip_amount  total_amount  \
 trip_distance       1.000000     0.911117    0.488864      0.897350
 fare_amount         0.911117     1.000000    0.523400      0.980122
 tip_amount          0.488864     0.523400    1.000000      0.651915
 total_amount        0.897350     0.980122    0.651915      1.000000
 tolls_amount             NaN          NaN         NaN           NaN
 total_amount        0.897350     0.980122    0.651915      1.000000

                tolls_amount  total_amount
 trip_distance           NaN      0.897350
 fare_amount             NaN      0.980122
 tip_amount              NaN      0.651915
 total_amount            NaN      1.000000
 tolls_amount            NaN           NaN
 total_amount            NaN      1.000000  )

In [13]:
# we will later conside dropping fare and total depending on the feature importance as correlated with trip_distance
#df = df.drop(columns=['fare_amount', 'total_amount'])
df =   df.drop(columns=[ 'tolls_amount'])

In [14]:
from sklearn.preprocessing import LabelEncoder

# make the encoder
labelencoder = LabelEncoder()

# new dataframe
df_encoded = df.copy()

# these are the categoical columns we are going to find the correlations for
cat_cols = ['RatecodeID', 'payment_type', 'VendorID']

# call the label encoder on these
for col in cat_cols:

    df_encoded[col] =   labelencoder.fit_transform(df_encoded[col])

# get the correlation matrix
corr_encoded =   df_encoded.corr()

# get the distribution aswell
cat_distribution =   {col: df[col].value_counts().to_dict() for col in cat_cols}

cat_distribution,    corr_encoded

<ipython-input-14-e6fe1ff031e8>:18: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_encoded =   df_encoded.corr()

({'RatecodeID': {1: 88907902,
   2: 1572184,
   5: 153985,
   3: 11525,
   4: 2583,
   6: 432},
  'payment_type': {1: 63278679, 2: 26850420, 3: 400264, 4: 119247, 5: 1},
  'VendorID': {2: 52494125, 1: 37714270, 4: 440216}},
                  VendorID  passenger_count  trip_distance  RatecodeID  \
 VendorID         1.000000         0.228954       0.027364    0.017249
 passenger_count  0.228954         1.000000       0.017424   -0.003152
 trip_distance    0.027364         0.017424       1.000000    0.145235
 RatecodeID       0.017249        -0.003152       0.145235    1.000000
 PULocationID    -0.012152        -0.005428      -0.088380   -0.032396
 DOLocationID    -0.004274        -0.003416      -0.054805   -0.008374
 payment_type    -0.016677         0.012852      -0.087661   -0.004199
 fare_amount      0.014977         0.012872       0.911117    0.234776
 extra            0.002100         0.005657       0.056629    0.070558
 tip_amount       0.005838        -0.007714       0.488864    0.136521
 total_amount     0.014762         0.010192       0.897350    0.233098

                  PULocationID  DOLocationID  payment_type  fare_amount  \
 VendorID            -0.012152     -0.004274     -0.016677     0.014977
 passenger_count     -0.005428     -0.003416      0.012852     0.012872
 trip_distance       -0.088380     -0.054805     -0.087661     0.911117
 RatecodeID          -0.032396     -0.008374     -0.004199     0.234776
 PULocationID         1.000000      0.080184     -0.011171    -0.080710
 DOLocationID         0.080184      1.000000     -0.020910    -0.046252
 payment_type        -0.011171     -0.020910      1.000000    -0.079418
 fare_amount         -0.080710     -0.046252     -0.079418     1.000000
 extra               -0.015461     -0.010561     -0.022058     0.037793
 tip_amount          -0.035352      0.000129     -0.656755     0.523400
 total_amount        -0.077521     -0.041547     -0.211344     0.980122

                     extra  tip_amount  total_amount
 VendorID         0.002100    0.005838      0.014762
 passenger_count  0.005657   -0.007714      0.010192
 trip_distance    0.056629    0.488864      0.897350
 RatecodeID       0.070558    0.136521      0.233098
 PULocationID    -0.015461   -0.035352     -0.077521
 DOLocationID    -0.010561    0.000129     -0.041547
 payment_type    -0.022058   -0.656755     -0.211344
 fare_amount      0.037793    0.523400      0.980122
 extra            1.000000    0.061381      0.095902
 tip_amount       0.061381    1.000000      0.651915
 total_amount     0.095902    0.651915      1.000000  )

In [15]:
del df_encoded

In [16]:
# we will consider dopping these columns based on the feature importances after training the model.
#df = df.drop(columns=['extra', 'payment_type'])

In [17]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
tip_amount                      float64
total_amount                    float64
dtype: object

In [18]:
print(len(df))

90648611

In [19]:
# make new features
df['dropoff_hour'] =   df['tpep_dropoff_datetime'].dt.hour
df['dropoff_month'] =   df['tpep_dropoff_datetime'].dt.month

df['dropoff_day_of_month'] =   df['tpep_dropoff_datetime'].dt.day
df['dropoff_day_of_week'] =    df['tpep_dropoff_datetime'].dt.dayofweek




# make a feature that measures the journeys duration
df['ride_duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

# get rid of extremely small values so they dont affect calculation for speed

df = df[df['ride_duration'] >= 1]


# Create the average speed feature (in mph)
df['average_speed'] = df['trip_distance'] / (df['ride_duration'] / 60)

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,total_amount,dropoff_hour,dropoff_month,dropoff_day_of_month,dropoff_day_of_week,ride_duration,average_speed
16664318,2,2018-01-01 00:00:40,2018-01-01 00:01:59,1,0.50,1,68,246,1,3.5,0.5,0.00,4.80,0,1,1,0,1.316667,22.784810
16659848,2,2018-01-01 00:00:59,2018-01-01 00:02:28,1,0.40,1,13,13,1,3.5,0.5,0.96,5.76,0,1,1,0,1.483333,16.179775
16658155,2,2018-01-01 00:01:22,2018-01-01 00:02:35,1,0.47,1,74,75,2,3.5,0.5,0.00,4.80,0,1,1,0,1.216667,23.178082
16667681,2,2018-01-01 00:02:18,2018-01-01 00:03:23,1,0.19,1,43,163,2,3.0,0.5,0.00,4.30,0,1,1,0,1.083333,10.523077
16668191,2,2018-01-01 00:00:36,2018-01-01 00:03:33,1,0.70,1,237,237,1,4.5,0.5,0.00,5.80,0,1,1,0,2.950000,14.237288

In [20]:
import numpy as nump
mask =   nump.isfinite(df['average_speed'])
df =   df[mask]

In [21]:
# get the variance
v_ride_duration =   df['ride_duration'].var()
v_average_speed =    df['average_speed'].var()

# get a new correlation matrix
corr3 =   df[['ride_duration', 'average_speed', 'trip_distance', 'tip_amount', 'fare_amount', 'total_amount']].corr()

v_ride_duration,  v_average_speed,     corr3

(4210.561395646896,
 18.178760758240582,
                ride_duration  average_speed  trip_distance  tip_amount  \
 ride_duration       1.000000      -0.145069       0.128443    0.064167
 average_speed      -0.145069       1.000000       0.258978   -0.001652
 trip_distance       0.128443       0.258978       1.000000    0.493474
 tip_amount          0.064167      -0.001652       0.493474    1.000000
 fare_amount         0.151728      -0.040304       0.921303    0.522361
 total_amount        0.145836      -0.032635       0.907522    0.651570

                fare_amount  total_amount
 ride_duration     0.151728      0.145836
 average_speed    -0.040304     -0.032635
 trip_distance     0.921303      0.907522
 tip_amount        0.522361      0.651570
 fare_amount       1.000000      0.980204
 total_amount      0.980204      1.000000  )

In [22]:
df2 = panda.read_csv('/content/drive/MyDrive/taxi_zones (1).csv')

In [23]:
# check if each location id has one area
the_unique_location_ids = df2['LocationID'].nunique()
unique_shape_areas = df2.groupby('LocationID')['Shape_Area'].nunique()

# find which ones have multiple areas
the_invalid_location_ids = unique_shape_areas[unique_shape_areas > 1].index.tolist()

# check if every location id is in df2
the_valid_dropoff_ids = df['DOLocationID'].isin(df2['LocationID']).all()

the_unique_location_ids,   the_invalid_location_ids,   the_valid_dropoff_ids

(260, [56, 103], True)

In [24]:
df =   df[~df['DOLocationID'].isin(the_invalid_location_ids)]

In [25]:
df2 =    df2[~df2['LocationID'].isin(the_invalid_location_ids)]

In [26]:
not_in_zones_pickup_ids = set(df['PULocationID'].unique()) - set(df2['LocationID'].unique())
not_in_zones_dropoff_ids = set(df['DOLocationID'].unique()) - set(df2['LocationID'].unique())

not_in_zones_pickup_ids,    not_in_zones_dropoff_ids

({56, 57, 105, 264, 265}, set())

In [27]:
df =  df[~df['PULocationID'].isin(not_in_zones_pickup_ids)]
df =   df[~df['DOLocationID'].isin(not_in_zones_dropoff_ids)]

In [28]:
print(len(df))

89920975

In [29]:
# map locationid to shape_area
location_to_area = df2.set_index('LocationID')['Shape_Area'].to_dict()

location_to_perimeter = df2.set_index('LocationID')['Shape_Leng'].to_dict()

# new feature in df for the area of a dropoff location
df['DOLocation_area'] = df['DOLocationID'].map(location_to_area)

df['DOLocation_perimeter'] = df['DOLocationID'].map(location_to_perimeter)

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,...,tip_amount,total_amount,dropoff_hour,dropoff_month,dropoff_day_of_month,dropoff_day_of_week,ride_duration,average_speed,DOLocation_area,DOLocation_perimeter
16664318,2,2018-01-01 00:00:40,2018-01-01 00:01:59,1,0.50,1,68,246,1,3.5,...,0.00,4.80,0,1,1,0,1.316667,22.784810,0.000281,0.069467
16659848,2,2018-01-01 00:00:59,2018-01-01 00:02:28,1,0.40,1,13,13,1,3.5,...,0.96,5.76,0,1,1,0,1.483333,16.179775,0.000149,0.050281
16658155,2,2018-01-01 00:01:22,2018-01-01 00:02:35,1,0.47,1,74,75,2,3.5,...,0.00,4.80,0,1,1,0,1.216667,23.178082,0.000241,0.087664
16667681,2,2018-01-01 00:02:18,2018-01-01 00:03:23,1,0.19,1,43,163,2,3.0,...,0.00,4.30,0,1,1,0,1.083333,10.523077,0.000041,0.034177
16668191,2,2018-01-01 00:00:36,2018-01-01 00:03:33,1,0.70,1,237,237,1,4.5,...,0.00,5.80,0,1,1,0,2.950000,14.237288,0.000096,0.042213

In [30]:
# make a feature rounded the datetime to the nearest hour
df['dropoff_datetime_hour'] = df['tpep_dropoff_datetime'].dt.floor('H')

# For dropoff
dropoff_counts_hourly = df.groupby(['DOLocationID', 'dropoff_datetime_hour']).size().reset_index(name='number_taxis_DOLocationID_for_this_hour')

# merge it
df = panda.merge(df, dropoff_counts_hourly, how='left', left_on=['DOLocationID', 'dropoff_datetime_hour'], right_on=['DOLocationID', 'dropoff_datetime_hour'])


df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,...,dropoff_hour,dropoff_month,dropoff_day_of_month,dropoff_day_of_week,ride_duration,average_speed,DOLocation_area,DOLocation_perimeter,dropoff_datetime_hour,number_taxis_DOLocationID_for_this_hour
0,2,2018-01-01 00:00:40,2018-01-01 00:01:59,1,0.50,1,68,246,1,3.5,...,0,1,1,0,1.316667,22.784810,0.000281,0.069467,2018-01-01,149
1,2,2018-01-01 00:00:59,2018-01-01 00:02:28,1,0.40,1,13,13,1,3.5,...,0,1,1,0,1.483333,16.179775,0.000149,0.050281,2018-01-01,64
2,2,2018-01-01 00:01:22,2018-01-01 00:02:35,1,0.47,1,74,75,2,3.5,...,0,1,1,0,1.216667,23.178082,0.000241,0.087664,2018-01-01,183
3,2,2018-01-01 00:02:18,2018-01-01 00:03:23,1,0.19,1,43,163,2,3.0,...,0,1,1,0,1.083333,10.523077,0.000041,0.034177,2018-01-01,52
4,2,2018-01-01 00:00:36,2018-01-01 00:03:33,1,0.70,1,237,237,1,4.5,...,0,1,1,0,2.950000,14.237288,0.000096,0.042213,2018-01-01,252

In [31]:
print(len(df))

89920975

In [32]:
x = df['DOLocationID'].nunique()
x

66

In [33]:
# aggregate the dataframe so that theres one row per hour for the prediction
aggs = {
    'VendorID': lambda x: x.mode()[0] if x.mode().size > 0 else None,
    'trip_distance': 'mean',
    'fare_amount': 'mean',
    'total_amount': 'mean',
    'extra': 'mean',
    'RatecodeID': lambda x: x.mode()[0] if x.mode().size > 0 else None,
    'payment_type': lambda x: x.mode()[0] if x.mode().size > 0 else None,
    'tip_amount': 'mean',

    'ride_duration': 'mean',
    'average_speed': 'mean',
    'dropoff_hour': 'first',
    'DOLocation_area': 'first',
    'DOLocation_perimeter': 'first',
    'number_taxis_DOLocationID_for_this_hour': 'first',
    'dropoff_day_of_week': 'first',
    'dropoff_day_of_month': 'first',
    'dropoff_month': 'first',
    'passenger_count': 'mean'
}

# make the aggregated dataframe next
df_aggregated = df.groupby(['dropoff_datetime_hour', 'DOLocationID']).agg(aggs).reset_index()

# Display a few rows
df_aggregated.head()

,dropoff_datetime_hour,DOLocationID,VendorID,trip_distance,fare_amount,total_amount,extra,RatecodeID,payment_type,tip_amount,ride_duration,average_speed,dropoff_hour,DOLocation_area,DOLocation_perimeter,number_taxis_DOLocationID_for_this_hour,dropoff_day_of_week,dropoff_day_of_month,dropoff_month,passenger_count
0,2018-01-01,4,2,1.742100,9.237500,11.722200,0.495,1,1,1.209800,10.812167,9.950562,0,0.000112,0.043567,100,0,1,1,1.680000
1,2018-01-01,12,1,3.366667,12.500000,15.600000,0.500,1,1,1.800000,12.772222,15.888399,0,0.000042,0.036661,3,0,1,1,1.000000
2,2018-01-01,13,2,3.052656,13.390625,16.369844,0.500,1,1,1.710781,14.340625,12.741622,0,0.000149,0.050281,64,0,1,1,1.812500
3,2018-01-01,24,2,2.115143,9.485714,12.281143,0.500,1,1,1.596143,9.520952,13.578451,0,0.000061,0.047000,70,0,1,1,1.742857
4,2018-01-01,41,2,2.548800,11.327500,14.017950,0.485,1,1,1.435200,12.044333,12.852781,0,0.000143,0.052793,100,0,1,1,1.700000

In [34]:
print(len(df_aggregated))

554235

In [35]:
df_aggregated.dtypes

dropoff_datetime_hour                      datetime64[ns]
DOLocationID                                        int64
VendorID                                            int64
trip_distance                                     float64
fare_amount                                       float64
total_amount                                      float64
extra                                             float64
RatecodeID                                          int64
payment_type                                        int64
tip_amount                                        float64
ride_duration                                     float64
average_speed                                     float64
dropoff_hour                                        int64
DOLocation_area                                   float64
DOLocation_perimeter                              float64
number_taxis_DOLocationID_for_this_hour             int64
dropoff_day_of_week                                 int64
dropoff_day_of_month                                int64
dropoff_month                                       int64
passenger_count                                   float64
dtype: object

In [36]:
df_aggregated.to_csv('/content/drive/MyDrive/2018.31manhattenyellowtaxis.csv', index=False)